<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="MovimentoMapper">
	<cacheModel type="LRU" id="movimentoCache">
		<flushInterval hours="24"/>
	</cacheModel>
	<typeAlias alias="movimento" type="br.com.capela.model.financeiro.movimentacao.Movimento" />
	
	<resultMap id="movimento" class="movimento" >
		<result property="conta" 		column="CODIGOBANCO" select="ContaMapper.findById" />
		<result property="lancamento"	column="DATACADASTRO" />
		<result property="valorDeEntrada" column="VALORDEPOSITO" />
		<result property="valorDeSaida"	column="VALORDEBITO" />
		<result property="descricao"	column="DESCRICAO" />
	</resultMap>	
	
	<select id="MovimentoMapper.movimentacaoNoPeriodo" resultMap="movimento" parameterClass="map" cacheModel="movimentoCache">
		select 
			CODIGOBANCO, 
			DATACADASTRO,
			VALORDEPOSITO,
			VALORDEBITO,
			DESCRICAO
		from DBCONTAC 
		where 
			DATACADASTRO between #dataInicial# and #dataFinal# 
		order by DATACADASTRO
	</select>
	
</sqlMap>
